<%- include('include/header') %>

<p><a href="/">MPT</a> Callback page</p>

<div id="loadingHome"><p>loading...</p></div>

<p id="stateValue"  ><%- S_reponse.state %></p>
<p></p>
<p id="codeValue"  hidden="hidden"><%- S_reponse.code %></p>
<p></p>


<div id="HomeContent">
    <p>whats up nigga</p>

</div>


<%- include('include/footer') %>