<%- include('include/header') %>

<p><a href="/">MPT</a> Callback page</p>

<div id="loadingHome"><p>loading...</p></div>
<div id="HomeContent" hidden="hidden"><p>whats up nigga</p></div>

<%- include('include/footer') %>