<%- include('include/header') %>

<p><a href="/">MPT</a> Home page</p>

<div id="loadingHome"><p>loading...</p></div>
<div id="HomeContent" hidden="hidden"><p>whats up nigga</p></div>

<button id="getStarted">Get Started</button>
<p id="getStarted2">Get Started</p>
<a href="https://accounts.spotify.com/authorize?response_type=code&client_id=a56dbb710f844aae8bb58af149f1a761&scope=user-read-private%20user-read-email&redirect_uri=http%3A%2F%2Flocalhost%3A3001%2Fhome&state=mew4c4A8cWGkef45M81lLhP7QidtB692">
    sign in with spotify
</a>
<p><a href="/api/v1/spotify/login">sign in 2</a></p>
<%- include('include/footer') %>