<%- include('include/header') %>

<p>MPT Home page</p>

<div id="loadingHome"><p>loading...</p></div>
<div id="HomeContent" hidden="hidden"><p>whats up nigga</p></div>

<button id="getStarted">Get Started</button>

<%- include('include/footer') %>