<%- include('include/header')%>

<p>MPT APP</p>

<table>
    <tr>
        <button id="index-Login">Log In</button>
        <button id="index-Register">Register</button>
    </tr>
    <!-- <a href="">Log In</a>
    <a href="">Register</a> -->
</table>

<%- include('include/footer')%>

