<%- include('include/header')%>

<p>MPT Index</p>

<table>
    <tr>
        <td><a href="/login"  class="btn btn-light btn-sm">Log In</a></td>
        <td><a href="/register" class="btn btn-light btn-sm">Register</a></td>
    </tr>

</table>

<%- include('include/footer')%>

