<%- include('include/header')%>

<p><a href="/">MPT</a>  Login</p>

<form id="MPTlogin">

    <label>Email</label>
    <input type="text" name="email" placeholder="Your email" required>

    <label>Password</label>
    <input type="text" name="password" placeholder="Your password" required>

    <button id="LoginSubmit" type="submit">Log In</button>

</form>
<p></p>
<p id="loginMSG"></p>

<%- include('include/footer')%>