<%- include('include/header')%>

<p ><a href="/">MPT</a> Register</p>

<form id="MPTregister">
    <label>Name</label>
    <input type="text" name="name" placeholder="Your name" required>

    <label>Email</label>
    <input type="text" name="email" placeholder="Your email" required>

    <label>Password</label>
    <input type="text" name="password" placeholder="Your password" required>

    <button id="RegisterSubmit" type="submit">Register</button>

</form>

<p id="errorMSG"></p>

<%- include('include/footer')%>