<%- include('include/header')%>

<p ><a href="/">MPT</a> Register</p>

<form id="MPTregister">
    <label>Name</label>
    <input type="text" name="name" placeholder="Your name" >

    <label>Email</label>
    <input type="text" name="email" placeholder="Your email" >

    <label>Password</label>
    <input type="text" name="password" placeholder="Your password" >

    <button id="RegisterSubmit" type="submit">Register</button>

</form>
<p></p>
<p id="registerMSG"></p>

<%- include('include/footer')%>