<%- include('include/header')%>

<form id="MPTregister">
    <label>Name</label>
    <input type="text" name="name" placeholder="Your name" required>

    <label>Email</label>
    <input type="text" name="email" placeholder="Your email" required>

    <label>Password</label>
    <input type="text" name="password" placeholder="Your password" required>

</form>



<%- include('include/footer')%>